.background-login {
  background-image: url("https://pbs.twimg.com/ext_tw_video_thumb/1474053034468646912/pu/img/HLJxc3lzu2tNDVdv.jpg");
background-position: center center;
background-repeat: no-repeat;
background-size: cover;
height: 100vh;
display: flex;
align-items: center;
  .login-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    .login {
      display: flex;
      flex-direction: column;
      background-color: #fbfdff;
      gap: 20px;
      height: 600px;
      padding: 50px;
      h3 {
        text-align: center;
        font-size: 1.5rem;
        margin: 0 0 5rem 0;
      }
      &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__field {
          width: 300px;
          padding: 10px 20px;
          margin: 0 0 30px 0;
          border: none;
          border-bottom: 1px solid #000000;
        }
        button[type="submit"] {
          padding: 15px 40px;
          border-radius: 20px;
          border: none;
          background-color: #b300db;
          color: #fbfdff;
          cursor: pointer;
        }
      }
      &-img {
        height: 600px;
      }
    }
  }
}
