.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0 0 0;
    &-logo{
        display: flex;
        align-items: center;
        gap: 10px;
        &__img{
            height: 50px;
            width: 50px;
        }
    }
    &-links{
        display: flex;
        gap: 30px;
        &__link{
            color:#b300db;
            font-weight: 600;
        }
    }
}