.maketransaction {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  @media only screen and (max-width:1034px){
    margin: 20px 0 20px 0;
}
  &-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    &__fieldcont{
      display: flex;
      flex-direction: column;
      gap: 3px;
      &__field{
          padding: 10px 20px;
      }
    }
    &__btns{
      display: flex;
      gap: 20px;
      &__delete{
        background-color: #F47174;
        border-radius: 50%;
        border: none;
        padding: 10px;
        cursor: pointer;
      }
    }
    button[type="submit"]{
        padding: 10px 15px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        background: linear-gradient(to Top, rgba(179,123,255,1) 1%, rgba(116,153,255,1) 100%, rgba(0,212,255,1) 100%);
        color: #ffffff;
        font-weight: 600;
    }
  }
}
